/target/
/bike-stats.cvs
/build.sbt
/general-stats.cvs
/usage-stats.cvs
/.idea/
/.bsp/
/project/
/src/main/resources/2010-capitalbikeshare-tripdata.csv
/src/main/resources/2011-capitalbikeshare-tripdata.csv